.DS_Store
.vscode
__pycache__/
bert/__pycache__/
bert_data/train_runs/
bert_data/test_runs/
challenge_data/
logs/
*.logs
*.data-00000-of-00001
*.index
*.meta
*.tf_record
*.xz
*.gz
events.out.tfevents.*
train.sh
test.sh
Dockerfile
